---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: directuses.apps.directus.io
spec:
  group: apps.directus.io
  names:
    kind: Directus
    listKind: DirectusList
    plural: directuses
    singular: directus
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Directus is the Schema for the directuses API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DirectusSpec defines the desired state of Directus
            properties:
              adminEmail:
                description: AdminEmail is the email for the admin user.
                type: string
              database:
                description: Database configures the database connection.
                properties:
                  client:
                    description: Client specifies the database driver to use.
                    enum:
                    - pg
                    - mysql
                    - sqlite3
                    - mssql
                    - oracledb
                    - cockroachdb
                    type: string
                  connection:
                    description: Connection configures a networked database connection.
                    properties:
                      connectString:
                        description: ConnectString is the connection string for Oracle.
                        type: string
                      database:
                        description: Database is the database name.
                        type: string
                      host:
                        description: Host is the database host.
                        type: string
                      passwordSecretRef:
                        description: PasswordSecretRef references a secret containing
                          the password.
                        properties:
                          key:
                            description: Key is the key in the secret.
                            type: string
                          name:
                            description: Name is the name of the secret.
                            type: string
                        required:
                        - key
                        - name
                        type: object
                      port:
                        description: Port is the database port.
                        type: integer
                      ssl:
                        description: SSL configures SSL settings.
                        properties:
                          caSecretRef:
                            description: CASecretRef references the CA certificate
                              secret.
                            properties:
                              key:
                                description: Key is the key in the secret.
                                type: string
                              name:
                                description: Name is the name of the secret.
                                type: string
                            required:
                            - key
                            - name
                            type: object
                          certSecretRef:
                            description: CertSecretRef references the client certificate
                              secret.
                            properties:
                              key:
                                description: Key is the key in the secret.
                                type: string
                              name:
                                description: Name is the name of the secret.
                                type: string
                            required:
                            - key
                            - name
                            type: object
                          keySecretRef:
                            description: KeySecretRef references the client key secret.
                            properties:
                              key:
                                description: Key is the key in the secret.
                                type: string
                              name:
                                description: Name is the name of the secret.
                                type: string
                            required:
                            - key
                            - name
                            type: object
                          mode:
                            description: Mode is the SSL mode.
                            enum:
                            - disable
                            - require
                            - verify-ca
                            - verify-full
                            type: string
                        type: object
                      user:
                        description: User is the database user.
                        type: string
                    type: object
                  sqlite:
                    description: SQLite configures an embedded SQLite database.
                    properties:
                      filename:
                        description: Filename is the path to the SQLite database file.
                        type: string
                      persistence:
                        description: Persistence configures the PVC for SQLite.
                        properties:
                          size:
                            description: Size is the size of the PVC.
                            type: string
                          storageClassName:
                            description: StorageClassName is the storage class for
                              the PVC.
                            type: string
                        type: object
                    required:
                    - filename
                    type: object
                required:
                - client
                type: object
                x-kubernetes-validations:
                - message: sqlite config must be set if and only if client is sqlite3
                  rule: 'self.client == ''sqlite3'' ? has(self.sqlite) : !has(self.sqlite)'
                - message: connection config must be set if and only if client is
                    not sqlite3
                  rule: 'self.client != ''sqlite3'' ? has(self.connection) : !has(self.connection)'
              extensions:
                description: Extensions is a list of extensions to install.
                items:
                  properties:
                    name:
                      description: Name is the name of the extension.
                      type: string
                    source:
                      description: Source is the URL to download the extension from
                        (git or http).
                      type: string
                    type:
                      description: Type is the type of extension (interface, layout,
                        etc.).
                      type: string
                    version:
                      description: Version is the version of the extension to install
                        (npm only).
                      type: string
                  required:
                  - name
                  - source
                  type: object
                type: array
              extensionsConfig:
                description: ExtensionsConfig configures extension installation.
                properties:
                  secretRef:
                    description: |-
                      SecretRef is the name of the secret containing the .npmrc file.
                      The secret must have a key named ".npmrc".
                    type: string
                type: object
              image:
                description: Image is the Directus image to use.
                type: string
              ingress:
                description: Ingress configures the ingress.
                properties:
                  enabled:
                    description: Enabled enables ingress.
                    type: boolean
                  host:
                    description: Host is the ingress host.
                    type: string
                  tls:
                    description: TLS enables TLS.
                    type: boolean
                type: object
              podAnnotations:
                additionalProperties:
                  type: string
                description: PodAnnotations are additional annotations to add to the
                  Directus pods.
                type: object
              publicUrl:
                description: PublicURL overrides the PUBLIC_URL environment variable.
                type: string
              replicas:
                description: Replicas is the number of replicas.
                format: int32
                type: integer
            type: object
          status:
            description: DirectusStatus defines the observed state of Directus
            properties:
              databaseReady:
                description: DatabaseReady indicates if the database is ready.
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
